{{> navbar }}
<h1 class="my-4 text-center">Clinical history</h1>
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="col-11">
        <table class="table table-dark">
        <thead>
            <tr>
            <th scope="col">First Surname</th>
            <th scope="col">Second Surname</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            </tr>
        </thead>
        <tbody>
        
                <tr>
                    <th scope="row"> {{patient.firstSurname}}</th>
                    <td> {{patient.secondSurname}}</td>
                    <td> {{patient.name}}</td>
                    <td>{{patient.email}}</td>
                    <td>{{patient.phone}}</td>
                </tr>
        
        </tbody>
        </table>
    </div>
    
    <div>
        <form action="" method="POST" class="d-flex flex-column">
            <label for="history" class="my-2">Session: </label>
            <textarea name="history" id="" cols="150" rows="10"></textarea>
        </form>
    </div>

    <div class="form-group mx-2 my-4 col-2">
            <button type="submit" class="btn btn-success col-12">Save</button>
    </div>
</div>