{{> navbar }}
<h1>hellooo you are in details</h1>
    <ul>
        {{#each patients}}
        <li>
            {{this.firstSurname}}
            {{this.secondSurname}},
            {{this.name}}
            <br>
        

        </li>
        <a href="/patients/{{id}}">See details</a>
        <a href="/patients/{{id}}/edit">Edit</a> 
        <form action="/patients/{{id}}/delete" method="POST">
            <button>Delete</button>
        </form>
        {{/each}}
    </ul>