{{> navbar }}
<h2>Edit the patient: {{patient.firstSurname}} {{patient.secondSurname}}, {{patient.name}}</h2>

<form action="/patients/{{patient.id}}/edit" method="POST">
    <label>
        Name:
        <input type="text" name="name" value="{{patient.name}}" />
    </label>

    <label>
        First surname:
        <input type="text" name="firstSurname" value="{{patient.firstSurname}}" />
    </label>

    <label>
        Second surname:
        <input type="text" name="secondSurname" value="{{patient.secondSurname}}" />
    </label>

    <label>
        Email:
        <input type="email" name="email" value="{{patient.email}}" />
    </label>

     <label>
        phone:
        <input type="number" name="phone" value="{{patient.phone}}" />
    </label>

     <label>
        Address:
        <textarea name="address" cols="30" rows="4">{{patient.address}}</textarea>
     </label>

    <label>
        New Patient:
        <input type="checkbox" name="newPatient"  checked="{{patient.newPatient}}" />
    </label>

    <label for="professional-select"> Professional:
      <select name="professional-select">
        <option disable selected value=""></option>
        {{#each patient}}
          <option value="{{this}}"> {{this}} </option>
        {{/each}}
      </select>
    </label>

    <button>Save changes</button>
</form>
