
<h1>HELLO YOU ARE IN LIST OF PATIENTS VIEEEEW</h1>

 {{#if patients}} 
  {{!--  <h2>Welcome,  {{ patients.professional }}!</h2> --}}
    <a href="/patients/create">New Patient</a>
    <ul>
        {{#each patients}}
        <li>
            {{this.firstSurname}}
            {{this.secondSurname}},
            {{this.name}}
            <br>
            {{this.professional.username}}

        </li>
        <a href="/patients/{{id}}">See details</a>
        <a href="/patients/{{id}}/edit">Edit</a> 
        <form action="/patients/{{id}}/delete" method="POST">
            <button>Delete</button>
        </form>
        {{/each}}
    </ul>
{{else}} 
  <p>Still no logged in, sorry! Log in or sign up to access to your list of patients</p>
{{/if}} 
    
