{{> navbar }}
<div class="container">
        <div class="d-flex flex-row justify-content-between my-4">
            <h2>Welcome to Talk !</h2>
            <a href="/patients/create" class="btn btn-info col-2"><i class="bi bi-file-earmark-plus"></i> New Patient</a>
        </div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th scope="col">First Surname</th>
                <th scope="col">Second Surname</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            {{#each patients}}
                <tr>
                    <th scope="row"> {{this.firstSurname}}</th>
                    <td> {{this.secondSurname}}</td>
                    <td> {{this.name}}</td>
                    <td class="d-flex flex-row justify-content-end">
                        <a href="/calendar" class="btn btn-primary"><i class="bi bi-calendar-event"></i></a>
                        <a href="/patients/{{id}}/edit" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                        <form action="/patients/{{id}}/delete" method="POST">
                            <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
                        </form>
                    </td>
                </tr>
            {{/each}}

        </tbody>
    </table>
</div>
    
